<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\wisnu\OneDrive\Documents\00_Kuliah\Semester 5\Pemrograman Berorientasi Objek\Tugas Besar (Pokemon)\Pokemon\lwjgl3\build\libs\pokemon-1.0.0.jar</jar>
  <outfile>C:\Users\wisnu\OneDrive\Documents\00_Kuliah\Semester 5\Pemrograman Berorientasi Objek\Tugas Besar (Pokemon)\Pokemon.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\wisnu\OneDrive\Documents\00_Kuliah\Semester 5\Pemrograman Berorientasi Objek\Tugas Besar (Pokemon)\Pokemon\assets\graphics\pokeball_icon.ico</icon>
  <jre>
    <path>%JAVA_HOME%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>17.0.0</minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>